@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', Helvetica, sans-serif;
	background-color: rgb(229, 238, 250);
}

.search-div{
    display: flex;
    gap: 1%;
}

.forecast-div{
    display: flex;  
    width: 1000px;
}

.day{
    width: 30%;
}